In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\divya\anaconda3\lib\site-packages (1.3.13)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
raw_data = pd.read_csv("C:/Users/DIVYA/Downloads/Youtube_combined_data.csv", encoding = 'latin-1')

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Adaptive_playlist.db', echo=True)
sqlite_connection = engine.connect()

2020-10-15 11:18:12,120 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-15 11:18:12,122 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:18:12,125 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-15 11:18:12,129 INFO sqlalchemy.engine.base.Engine ()

In [4]:
sqlite_table = "youtube_scraped_data"
raw_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-10-15 11:18:12,214 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("youtube_scraped_data")
2020-10-15 11:18:12,218 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:18:12,223 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("youtube_scraped_data")
2020-10-15 11:18:12,225 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:18:12,231 INFO sqlalchemy.engine.base.Engine
CREATE TABLE youtube_scraped_data (
	"index" BIGINT,
	"URL" TEXT,
	"Title" TEXT,
	"Description" TEXT,
	"Tags" TEXT,
	"Category" TEXT
)


2020-10-15 11:18:12,232 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:18:12,520 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-15 11:18:12,525 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_youtube_scraped_data_index ON youtube_scraped_data ("index")
2020-10-15 11:18:12,531 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:18:12,662 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-15 11:18:12,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-15 11:18:13,478 INFO sqlalchemy.engine.base.Engine INSERT INTO youtube_scraped_data ("index", "URL", "Title", "Description", "Tags", "Category") VALUES (?, ?, ?, ?, ?, ?)
2020-10-15 11:18:13,479 INFO sqlalchemy.engine.base.Engine ((0, 'https://www.youtube.com/watch?v=NCkTaD8tjtU', 'Husqvarna Svartpilen 250 & Vitpilen 250 review -The sweet duo from Sweden |First Ride| Autocar India', 'The Husqvarna Svartpilen 250 and Husqvarna Vitpilen 250 are finally here. Rishaad Mody introduces you to brand Husqvarna and gets astride the uber st ... (786 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features', "['Autocar', 'India', 'Autocar India', 'Car Reviews', 'Video Reviews', 'Test Drives', 'Husqvarna Svartpilen 250', 'Vitpilen 250', 'husqvarna vitpilen  ... (208 characters truncated) ... cles india', 'vitpilen 250 2020', 'husqvarna vitpilen', 'husqvarna', 'vitpilen 250 review', 'vitpilen 250 top speed', 'vitpilen 401', 'vtipilen 250']", 'Automobiles'), (1, 'https://www.youtube.com/watch?v=J5BMlYd9YzA', '2020 Mahindra Thar â\x80\x93 Happy Independence Day! | First Look | Autocar India', 'The wait is over! The all-new, second-gen Mahindra Thar has been revealed in full ahead of its market launch on October 2, 2020. Renuka Kirpalani bri ... (1407 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features', "['autocar', 'autocar india', 'mahindra thar', 'thar', 'thar 2020', 'mahindra thar 2020', 'mahindra thar 2020 features', 'mahindra thar 2020 model', ' ... (225 characters truncated) ... ar launch', 'mahindra thar price', 'thar new', 'thar modified', 'independence day', 'thar car', 'thar jeep', 'mahindra', 'thar india', 'thar review']", 'Automobiles'), (2, 'https://www.youtube.com/watch?v=gY_Qf_Z-PzU', 'Ford Freestyle Flair, Triumph Street Triple R, Hyundai Ioniq and more | Quick News | Autocar India', "In this episode of Autocar India Quick News, we bring you all the launches and price updates of the week starting from the Tata Altroz, Ford Endeavou ... (1753 characters truncated) ... n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features\n\n#HyundaiIoniq #FordFreestyleFlair #TataAltroz", "['Autocar', 'India', 'Autocar India', 'Car Reviews', 'Video Reviews', 'Test Drives', 'Ford Freestyle Flair', 'Triumph Street Triple R', 'Hyundai Ioni ... (223 characters truncated) ... troz price', 'honda jazz bs6 2020', 'new honda jazz bs6 diesel', 'hyundai ioniq review', 'ford freestyle flair review', 'kawasaki versys 650 review']", 'Automobiles'), (3, 'https://www.youtube.com/watch?v=LylE-gb-Blg', 'Track attack with the Renault Duster 1.3L Turbo Petrol | Special Feature | Autocar India', "After being impressed by its flat-out acceleration, Aditya Patel takes the Renault Duster 1.3L Turbo Petrol on a lap of the MMRT to see if the SUV's  ... (751 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features", "['autocar india', 'autocar', 'renault duster 1.3l turbo petrol', 'renault duster 1.3 turbo petrol', 'renault duster 1.3 turbo', 'renault duster turbo ... (219 characters truncated) ... enault duster', 'renault duster 1.3 turbo petrol price', 'renault duster 1.3 turbo petrol india', 'new renault duster', 'renault duster petrol 2020']", 'Automobiles'), (4, 'https://www.youtube.com/watch?v=siO2zLA2sl4', '2020 Nissan Kicks Turbo - Does the 156hp engine deliver that kick? | First Drive | Autocar India', 'With its 156hp, 1.3-litre turbo-petrol engine, the 2020 Nissan Kicks is the most powerful petrol mid-size SUV in India. Is it fun to drive? Shapur Ko ... (733 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features', "['Autocar', 'India', 'Autocar India', 'Car Reviews', 'Video Reviews', 'Test Drives', 'nissan kicks turbo review', 'nissan kicks 2020', 'nissan kicks' ... (214 characters truncated) ... cks india', 'car review india', 'nissan suv', 'nissan kicks 156 bhp', 'nissan kicks 2020 review', 'renault duster', 'indian car review', 'kicks car']", 'Automobiles'), (5, 'https://www.youtube.com/watch?v=eKq8Dyz_Mm8', 'Flat Out with the Renault Duster 1.3L Turbo Petrol | Special Feature | Autocar India', 'One-track mind: GT racer Aditya Patel encounters the new Renault Duster 1.3 Turbo Petrol on a race track. What happens next?\n\n#RenaultDUSTER #Turbo ... (677 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features', "['autocar india', 'autocar', 'renault duster 1.3l turbo petrol', 'renault duster 1.3 turbo petrol', 'renault duster 1.3 turbo', 'renault duster turbo ... (219 characters truncated) ... enault duster', 'renault duster 1.3 turbo petrol price', 'renault duster 1.3 turbo petrol india', 'new renault duster', 'renault duster petrol 2020']", 'Automobiles'), (6, 'https://www.youtube.com/watch?v=_0k070RDUkU', 'Brute force: Mercedes-AMG C 63 CoupÃ© and GT 63 S 4-Door CoupÃ© | Feature | Autocar India', 'Would it be the 2 door, 476hp, Rs 1.33 crore Mercedes-AMG C 63 CoupÃ©  for you? Or is the 4 door, 639hp, Rs 2.42 crore Mercedes-AMG GT 63 S 4-Door Co ... (752 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features', "['autocar india', 'autocar', 'brute force', 'mercedes amg c 63 coupÃ©', 'mercedes amg c 63 coupe', 'mercedes amg c63 coupe', 'GT 63 S 4 Door CoupÃ©', ... (237 characters truncated) ... eleration', 'mercedes c63 amg pov', 'mercedes gt63s', 'mercedes gt63s amg india', 'bmw amg gt', 'bmw amg series', 'bmw sports car', 'bmw racing car']", 'Automobiles'), (7, 'https://www.youtube.com/watch?v=OFXOLZ92Qbk', '2020 Toyota Innova Crysta automatic - BS6 2.4 diesel gets 6-speed AT  | First Drive | Autocar India', "The Toyota Innova Crysta has been upgraded for BS6 emission norms. In the transformation, the old 2.8-litre diesel-automatic combo has been replaced  ... (869 characters truncated) ... parison tests â\x96ºhttp://bit.ly/ACI-Comparison\n\nNew bike reviews â\x96ºhttp://bit.ly/ACI-BikeReviews\n\nFeatures â\x96ºhttp://bit.ly/ACI-Features", "['Autocar', 'India', 'Autocar India', 'Car Reviews', 'Video Reviews', 'toyota innova crysta automatic review', 'toyota', 'car review', 'test drive',  ... (243 characters truncated) ... 0', 'toyota car', 'cars in india', '2020 innova crysta', 'innova top model', 'innova bs6 2.4 automatic', 'toyota innova review', 'innova crysta bs6']", 'Automobiles')  ... displaying 10 of 45446 total bound parameter sets ...  (45444, 'https://www.youtube.com/watch?v=YrUEQ7s-ftc', 'Galaxy Note 10+ Star Wars Edition Unboxing & First Look + Giveaway | The Best Beastð\x9f\x94¥ð\x9f\x94¥ð\x9f\x94¥', 'Participate here: https://gleam.io/HkaUC/tg-galaxy-note-10-star-wars-edition-giveaway\nNamaskaar Dosto, is video mein maine aapse baat ki hai Samsung ... (765 characters truncated) ... hnicalguruji.in/\n\nAbout : Technical Guruji is a YouTube Channel, where you will find technological videos in Hindi, New Video is Posted Everyday :)', "['galaxy note 10', 'galaxy note 10+', 'note 10+', 'note 10 plus', 'star wars', 'note 10 star wars', 'samsung', 'samsung galaxy star wars', 'star wars ... (221 characters truncated) ... e 10+ review', 'iphone', 'apple', 'iphone 11', 'iphone 11 pro', 'iphone 11 pro max', 'vs', 'Technicalguruji', 'Technical guruji', 'Gaurav Chaudhary']", 'Videoblogging'), (45445, 'https://www.youtube.com/watch?v=BdsPYaVEJe8', '#155 Sunday Tech Masala - Best Smartphone Of 2019??? #BoloGurujið\x9f\x94¥ð\x9f\x94¥ð\x9f\x94¥', 'Be a Member: https://www.youtube.com/channel/UCOhHO2ICt0ti9KAh-QHvttQ/join\nNamaskaar Dosto, yeh ek aur naya video hai Sunday Tech Masala ke ek naye  ... (619 characters truncated) ... hnicalguruji.in/\n\nAbout : Technical Guruji is a YouTube Channel, where you will find technological videos in Hindi, New Video is Posted Everyday :)', "['technical guruji', 'Sunday Masala', 'funny', 'technology', 'tech', 'masala', 'sunday tech masala', 'technicalguruji', 'giveaway', 'surprise', 'yout ... (277 characters truncated) ... o', '64MP', 'Redmi Note 8 Pro', 'iPhone 11', 'iPhone 11 Pro', 'Realme X2 Pro', 'TikTok', 'Tesla Cybertruck', 'Cybertruck', 'Sunday Tech Masala #155']", 'Videoblogging'))

2020-10-15 11:18:15,004 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
sqlite_connection.close()

In [ ]:
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Adaptive_playlist.db")
df = pd.read_sql_query("SELECT * from youtube_scraped_data", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

In [ ]:
con = sqlite3.connect("Adaptive_playlist.db")
data = pd.read_sql_query("SELECT Title,Description,Tags,Category from youtube_scraped_data", con)

In [ ]:
print(data)

In [ ]:
import spacy
import numpy as np
import pandas as pd
import re
from collections import Counter
import seaborn as sns
#from wordcloud import WordCloud

import matplotlib.pyplot as plt 
%matplotlib inline

#import mplcursors

# from os import path
# from PIL import Image


nlp = spacy.load('en_core_web_sm')

In [ ]:
spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS

In [ ]:
#To replace nan values with dot
for i in data.columns:
    data[i] = data[i].replace(np.nan, ".")

In [ ]:
def cleaner(df1):
    "Extract relevant text from DataFrame using a regex"
    # Regex pattern for only alphanumeric, hyphenated text with 3 or more chars
    pattern = re.compile(r"[A-Za-z\-]{3,50}")
    df1['Title'] = data['Title'].str.findall(pattern).str.join(' ')
    df1['Description'] = data['Description'].str.findall(pattern).str.join(' ')
    df1['Tags'] = data['Tags'].str.findall(pattern).str.join(' ')
    #Removing numbers
#     df1['Title'] = df1['Title'].str.replace('\d+', '')
#     df1['Description'] = df1['Description'].str.replace('\d+', '')
#     df1['Tags'] = df1['Tags'].str.replace('\d+', '')
#     df1['Description'] = df1['Description'].str.replace('http\S+|www.\S+|html\S+|-\S+|com\S+|youtube\S+|https\S+','', case=False)
#     df1['Tags'] = df1['Tags'].str.replace('http\S+|www.\S+|html\S+|-\S+|com\S+|youtube\S+|https\S+','', case=False)
    return df1

In [ ]:
df_preproc = cleaner(data)

In [ ]:
df_preproc

In [ ]:
nlp_df= pd.DataFrame(columns=["Title_token", "Desc_token", "Tags_token", "Category"])
nlp_df

In [ ]:
def is_token_allowed(token):
    '''
        Only allow valid tokens which are not stop words
        and punctuation symbols.
    '''
    if (not token or not token.string.strip() or
        token.is_stop or token.is_punct):
        return False
    return True
    
def preprocess_token(token):
    # Reduce token to its lowercase lemma form
    token = token.lemma_.strip().lower()
#     token = token.replace('http\S+|www.\S+|html\S+|-\S+|com\S+|youtube\S+|https\S+','')#, case=False)
    return token

In [ ]:
def get_tokens(main_df,nlp_df):
#     nlp_df= pd.DataFrame(columns=["Title_token", "Desc_token", "Tags", "Category"])
    for i in main_df.index:
        a = {}
        row = main_df.iloc[i,].tolist()
#         print(row)
        for j in range(len(row)):
            doc_item = nlp(row[j])
            tokens = [preprocess_token(token) for token in doc_item if is_token_allowed(token)]
#             tokens_nostop = [token for token in tokens if token not in spacy_stopwords]   #No neeeddddd
            a.update({nlp_df.columns[j]:str(tokens).strip("[]")})
#             break
#             print(tokens)
#         print(a)
        nlp_df = nlp_df.append(a, ignore_index=True)
#         break
    return nlp_df

In [19]:
nlp_df =get_tokens(df_preproc,nlp_df)

In [20]:
nlp_df.head()

,Title_token,Desc_token,Tags_token,Category
0,"'husqvarna', 'svartpilen', 'vitpilen', 'review...","'husqvarna', 'svartpilen', 'husqvarna', 'vitpi...","'autocar', 'india', 'autocar', 'india', 'car',...",'automobile'
1,"'mahindra', 'thar', 'happy', 'independence', '...","'wait', 'new', 'second', 'gen', 'mahindra', 't...","'autocar', 'autocar', 'india', 'mahindra', 'th...",'automobile'
2,"'ford', 'freestyle', 'flair', 'triumph', 'stre...","'episode', 'autocar', 'india', 'quick', 'news'...","'autocar', 'india', 'autocar', 'india', 'car',...",'automobile'
3,"'track', 'attack', 'renault', 'duster', 'turbo...","'impress', 'flat', 'acceleration', 'aditya', '...","'autocar', 'india', 'autocar', 'renault', 'dus...",'automobile'
4,"'nissan', 'kicks', 'turbo', 'engine', 'deliver...","'-litre', 'turbo', 'petrol', 'engine', 'nissan...","'autocar', 'india', 'autocar', 'india', 'car',...",'automobile'

In [21]:
#Removing numbers - Added to cleaner() func
nlp_df['Title_token'] = nlp_df['Title_token'].str.replace('\d+', '')
nlp_df['Desc_token'] = nlp_df['Desc_token'].str.replace('\d+', '')
nlp_df['Tags_token'] = nlp_df['Tags_token'].str.replace('\d+', '')

In [22]:
#Removing links(http,www,com,youtube etc) - Added to cleaner() func
nlp_df['Desc_token'] = nlp_df['Desc_token'].str.replace('http\S+|www.\S+|html\S+|-\S+|com\S+|youtube\S+|https\S+','', case=False)
nlp_df['Tags_token'] = nlp_df['Tags_token'].str.replace('http\S+|www.\S+|html\S+|-\S+|com\S+|youtube\S+|https\S+','', case=False)

In [23]:
categories = nlp_df.Category.unique()
categories

array(["'automobile'", "'music'", "'entertainment'", "'education'",
       "'film_and_animation'", "'food'", "'game'", "'fashion'",
       "'news_politic'", "'pets_animal'", "'religion'",
       "'science_technology'", "'sport'", "'travel_events'",
       "'videoblogging'"], dtype=object)

In [24]:
def word_counter(text, cat, main_counts):
    freq = pd.Series(' '.join(text).split())
    freq=freq.str.cat(sep=" ")
    docs = nlp(freq)
    tokens = [preprocess_token(token) for token in docs if is_token_allowed(token)]    
    word_counts = Counter(tokens)

    counts_df = pd.DataFrame.from_dict(word_counts, orient="index").reset_index()
    counts_df = counts_df.rename(columns={"index":"Word",0:"Count"}).sort_values(by="Count", ascending=False)
    counts_df["Category"] = cat

    main_counts = main_counts.merge(counts_df, on="Word", how="outer")
    main_counts.fillna(0, inplace=True)
    main_counts["Count"] = main_counts['Count_x'] + main_counts['Count_y']
    main_counts["Category"] = cat
    main_counts.drop(["Count_x", "Count_y", "Category_x", "Category_y"], axis=1, inplace=True)
    return main_counts

#     top5 = word_counts.most_common(5)
#     return counts_df.iloc[:10,]

In [25]:
title_freq = pd.DataFrame(columns=["Category","Word", "Count"])
for category in categories:
    midman_df = pd.DataFrame(columns=["Category","Word", "Count"])
    df_cat = nlp_df[nlp_df.Category==category] 
#     freq = pd.Series(' '.join(df_cat['Title_token']).split()).value_counts()[:5]
#     print(freq)
    title_freq = title_freq.append(word_counter(df_cat.Title_token, category,midman_df), ignore_index=True)
#     input("Enter any key to continue")

In [26]:
len(title_freq.Category.unique())

15

In [27]:
title_freq.to_csv("C:\\Users\\Divya\\Documents\\Title_counts.csv", index=False)

In [28]:
engine = create_engine('sqlite:///Adaptive_playlist.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "Title_counts"
title_freq.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-10-06 15:30:12,734 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-06 15:30:12,985 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,022 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-06 15:30:13,025 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,337 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Title_counts")
2020-10-06 15:30:13,341 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,434 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Title_counts")
2020-10-06 15:30:13,439 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,568 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Title_counts" (
	"index" BIGINT,
	"Category" TEXT,
	"Word" TEXT,
	"Count" BIGINT
)


2020-10-06 15:30:13,569 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,802 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-06 15:30:13,805 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Title_counts_index" ON "Title_counts" ("index")
2020-10-06 15:30:13,805 INFO sqlalchemy.engine.base.Engine ()
2020-10-06 15:30:13,956 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-06 15:30:14,044 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-06 15:30:26,891 INFO sqlalchemy.engine.base.Engine INSERT INTO "Title_counts" ("index", "Category", "Word", "Count") VALUES (?, ?, ?, ?)
2020-10-06 15:30:26,917 INFO sqlalchemy.engine.base.Engine ((0, "'automobile'", 'powerdrift', 1610), (1, "'automobile'", 'india', 809), (2, "'automobile'", 'autocar', 650), (3, "'automobile'", 'review', 300), (4, "'automobile'", 'auto', 236), (5, "'automobile'", 'look', 175), (6, "'automobile'", 'drive', 172), (7, "'automobile'", 'expo', 161)  ... displaying 10 of 47092 total bound parameter sets ...  (47090, "'videoblogging'", 'ketan', 1), (47091, "'videoblogging'", 'paysa', 1))
2020-10-06 15:30:27,349 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-06 15:30:27,722 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-06 15:30:27,727 INFO sqlalchemy.engine.base.Engine ()

In [29]:
sqlite_connection.close()

In [30]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Adaptive_playlist.db")
title_data = pd.read_sql_query("SELECT * from Title_counts", con)

# Verify that result of SQL query is stored in the dataframe
print(title_data.head())

con.close()

   index      Category        Word  Count
0      0  'automobile'  powerdrift   1610
1      1  'automobile'       india    809
2      2  'automobile'     autocar    650
3      3  'automobile'      review    300
4      4  'automobile'        auto    236

In [ ]:
desc_freq= pd.DataFrame(columns=["Category","Word", "Count"])
for category in categories:
    midman_df = pd.DataFrame(columns=["Category","Word", "Count"])
    df_cat = nlp_df[nlp_df.Category==category]
    for i in range(0,df_cat.shape[0],200):
        if (i+200)<df_cat.shape[0]:l=i+200
        else: l = df_cat.shape[0]+1            
        midman_df = word_counter(df_cat.Desc_token[i:l], category, midman_df)
#         break
    midman_df.sort_values(by='Count', ascending=False, inplace=True)
#     plot_unigram(midman_df[:20], category)
    desc_freq = desc_freq.append(midman_df, ignore_index=True)
#     desc_freq.update({category: word_counter(df_cat.Desc_token)})
#     input("Enter any key to continue")

In [ ]:
len(desc_freq.Category.unique())

In [2]:
desc = pd.read_csv("C:\\Users\\DIVYA\\Documents\\Desc_counts.csv", index=False)

NameError: name 'pd' is not defined

In [ ]:
engine = create_engine('sqlite:///Adaptive_playlist.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "Desc_counts"
desc_freq.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

In [ ]:
sqlite_connection.close()

In [ ]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Adaptive_playlist.db")
desc_data = pd.read_sql_query("SELECT * from Desc_counts", con)

# Verify that result of SQL query is stored in the dataframe
print(desc_data.head())

con.close()

In [ ]:
tags_freq=pd.DataFrame(columns=["Category","Word", "Count"])

for category in categories:
    midman_df = pd.DataFrame(columns=["Category","Word", "Count"])
    df_cat = nlp_df[nlp_df.Category==category] 
    
    for i in range(0,df_cat.shape[0],200):
        if (i+200)<df_cat.shape[0]:l=i+200
        else: l = df_cat.shape[0]+1            
        midman_df = word_counter(df_cat.Tags_token[i:l], category, midman_df)
#         break
    midman_df.sort_values(by='Count', ascending=False, inplace=True)
#     plot_unigram(midman_df[:20], category)
    tags_freq = tags_freq.append(midman_df, ignore_index=True)

#     tags_freq = tags_freq.append(word_counter(df_cat.Tags_token, category), ignore_index=True)
#     tags_freq.update({category: word_counter(df_cat.Tags_token)})
#     input("Enter any key to continue")

In [ ]:
len(tags_freq.Category.unique())

In [ ]:
tags_freq.to_csv("C:\\Users\\DIVYA\\Documents\\Tags_counts.csv", index=False)

In [ ]:
engine = create_engine('sqlite:///Adaptive_playlist.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "Tags_counts"
tags_freq.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

In [ ]:
sqlite_connection.close()

In [ ]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("Adaptive_playlist.db")
tags_data = pd.read_sql_query("SELECT * from Tags_counts", con)

# Verify that result of SQL query is stored in the dataframe
print(tags_data.head())

con.close()

In [ ]:
nlp_df.to_csv("C:\\Users\\DIVYA\\Documents\\Tokenised_data.csv")